* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    border: 5px solid salmon;
    background-color: antiquewhite;
    font-size: 3rem;
    color: rgb(26, 23, 18);
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh;
    grid-template-areas:
        'header header header'
        'side main main'
        'side main main';
    place-content: center;
}

.item {
    font-size: 4rem;
    /* background-color: blue; */
}

.item-1 {
    background-color: rgb(139, 148, 228);
    border: 5px solid rgb(48, 45, 112);
    grid-area: header;
}

.item-2 {
    background-color: rgb(228, 139, 176);
    border: 5px solid rgb(4, 61, 115);
    grid-area: side;
}

.item-3 {
    background-color: rgb(173, 178, 165);
    border: 5px solid rgb(205, 184, 23);
    grid-area: main;
}